@charset "UTF-8";
/* CSS Document */
*{box-sizing: border-box; margin:0px; padding:0px; font-size:100%; } 
body{
	margin: 0px;
	padding: 0px;
	color: #000;
	font-family: "游ゴシック　Medium","Yu Gothic Medium", "游ゴシック体",yugothic,"ヒラギノ角ゴ Pro W3",
		"Hiragino kaku Gothic Pro","メイリオ",meiryo,"MS Pゴシック","MS PGothic", sans-serif;
	font-size: 18px;
	line-height:2;
	background:#fff;
}
img{ border:none; max-width:100%; height:auto; }
a { color:#666; text-decoration:none; transition:0.3s;}

.text-center{ text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.m-auto{margin:auto;}

#container{max-width: 1400px; margin:0 auto; padding:0;}
header { padding:10px 20px; }
header #logo img { width:140px;}
footer{ text-align:center; padding:30px 0px 10px; font-size:0.8rem;}
footer.footer-logo{width:100px; margin:50px auto; }
/*スマホ用調整*/
@media screen and (max-width:767px){
		#container { width:auto; }
	footer{text-align:center; padding:10px;}
	.break-sm{ display:block;}
}


.mainLayer{ position: relative; height: 580px; }
.mainLayer .layer-txt { line-height: 1; font-size: 5.6rem; font-weight: bold; padding: 60px 30px;}
.mainLayer.leyer-bg{width:1400px; height: 580px; background: url("../images/main_2.jpg")
									no-repeat bottom right;
position: absolute; z-index: -1; right: 0; bottom: 0;}

.mainLayer .leyer-btn{padding: 0px 30px;}
.mainLayer .leyer-btn p {font-size: 1.2rem; font-weight: bold;}
/*スマホ用調整*/
@media screen and (max-width:767px){
	.mainLayer{height:auto;}
	.mainLayer .leyer-txt{ font-size:2.2rem; padding: 40px 10px;}
	.mainLayer .leyer-bg{ width:auto; height:460px; position:inherit; }
	.mainLayer .leyer-btn{ padding: 30px 20px; }
	}

.problem{
	background: #000;
	font-size:1.2rem;
	padding: 80px 50px;
}
.ploblem h2 {
	font-size: 4.6rem; font-weight: bold;	
}
.problem h3 {
	font-size: 3.6rem; font-weight: bold; margin-top:100px;
}
.problem h4{
	font-size: 1.6rem; font-weight: bold; color: #ff0;
}
.problem h5{
	font-size: 1.2rem; font-weight: bold; color: #ff0; background: #333; display: inline-block;
	padding: 10px 20px; margin-top: 50px;
}
.problem img.ai{
	width: 80%;
}
.problem .yasnoRow {
	display: flex; justify-content: space-between; margin-top: 100px;
}
.problem .yasnoBox {
	width: 50%; border: solid 2px #fff; padding: 50px; margin: 0 15px;
}
.problem .yes {
	background: #eee; color: #000; border: solid 2px #f00;
}
.problem .yes h4 { color: #f00;}
.problem .yes h5 {background: #f00;}
/*スマホ用調整*/
@media screen and (max-width:767px){
	.problem {padding: 50px 20px;}
	.problem h2 {font-size: 2.4rem; color: #ff0; line-height: 1.2; margin-bottom: 20px;}
	.problem h3 {font-size: 2.2rem; color: #ff0; line-height: 1.2; margin-bottom: 20px;}
	.problem img.ai{width: 100%;}
	.problem .yesnoRow{ display: block; }
	.problem .yesnoBox{ width: 100%; padding: 20px; margin: 0 0 50px 0;}
}

.howto { font-size: 2.2rem; color: #000; padding: 50px 30px; margin: auto; width: 90%}
.howto h2{}











